body{
    font-family: 'Merriweather', serif;
    text-align: center;
    border-style: none;
}

.top-container{
    background-color: #E4F9F5;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    padding-top: 100px;
}
body{
    margin: 0px;
}
h1{
    color: #66BFBF;
    margin-top: 50px;
    font-size: 90px;
    font-family: 'Sacramento', cursive;
      
}


h2{
    
    font-weight: normal;
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem ;
    
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
.middle-container{
    
}
.bottom-container{
    height: 100px;
    background-color: #66BFBF;
    
}
.top-cloud{
    position: absolute;
    right: 300px;
    top:50px;
}
.bottom-cloud{
    position: absolute;
    left:300px;
    bottom:300px;
}
.alex{
    height:200px;
    width:200px;
    border-radius: 100px;

}
.skills-pic-two{
    width:40%;
    
    float: right;
    padding-left: 30px;
      
    
    
}
.skills-pic{
    width:40%;
    float: left;
    padding-right: 30px;
    
}
a{
    color:#11999E ;
}
.skill-row{
    width: 50%;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    line-height: 32px;
    
}
.contact-me{
    padding-bottom: 50px;
}
hr{   
    margin: auto;
    border: 0;
    border-top:solid 5px;
    border-top-style:dotted;
    color: #66BFBF;
    width:5% 
}
.footer-name{
    color: white;
}
   